/* Variables */
$title-font: normal 24px/1.5 'Open Sans', sans-serif;
$cool-red: #F44336;
$box-shadow-bottom-only: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
/* SCSS*/
h1.title {
 	font: $title-font; /* Uso la variable*/
 color: $cool-red;
}

div.container-sass {
 color: $cool-red;
 background: rgb(230, 17, 176);
 width: 100%;
 box-shadow: $box-shadow-bottom-only;
}
